<section class='rules d-flex flex-column align-items-center '>
  <%= image_tag 'theme7.jpg',class:'rules_bg'%>
  <div class="container col-6 text-center">
    <h1><span class="text-danger">WELCOME TO</span><br> SPORTS CLUB</h1><br>
    <h3><span class="text-danger">THE FIRST RULE OF SPORTS CLUB IS:</span><br>BE READY</h3><br>
    <h3><span class="text-danger">THE SECOND RULE OF SPORTS CLUB <br> IS:</span><br>DEFEAT THE OPPONENT</h3><br>
    <h3><span class="text-danger">THIRD RULE OF SPORTS CLUB:</span><br>IF THIS IS YOUR FIRST TIME AT SPORTS CLUB,<br>YOU HAVE TO CREATE TASK</h3>
  </div>
</section>